<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DissertationProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DissertationProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-toggleable-sm navbar-light border-bottom box-shadow navbar-bg">
            <div class="container-fluid d-flex align-items-center">
                <button class="navbar-toggler d-inline" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" id="burgerbtn">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand d-inline-flex ms-3" asp-area="" asp-controller="Home" asp-action="Index" >
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="~/images/money.png" alt="logo" height="50">
                        </div>
                        <div class="col">
                            <p class="heading-text white-text fs-3 pt-4">Money Tree</p>
                        </div>
                    </div>
                </a>
                <div class="d-sm-inline-flex ms-auto">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <div class="collapse navbar-collapse alt-navbar-bg" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 ms-2">
                <li class="nav-item">
                    <a class="nav-link heading-text white-text" asp-area="" asp-controller="Home" asp-action="Index" id="indexNav">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link heading-text white-text" asp-area="" asp-controller="Transaction" asp-action="ViewAll" id="transactionNav">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link heading-text white-text" asp-area="" asp-controller="Bills" asp-action="ViewAll" id="billsNav">Bills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link heading-text white-text" asp-area="" asp-controller="Budget" asp-action="Manage" id="budgetNav">Budget</a>
                </li>
            </ul>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-white">
            &copy; 2022 - Money Tree
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
