@model IEnumerable<BudgetViewModel>
@{
    ViewData["Title"] = "Manage Budget";

    var id = 0;
    foreach (var item in Model)
    {
        id = item.Budget.Id;
    }
}


<div class="container">
    <div class="row mt-5">
        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }
        @if (TempData["Danger"] != null)
        {
            <p class="alert alert-danger" id="successMessage">@TempData["Danger"]</p>
        }
        <div class="col">
            <h1 class="heading-text">Budget Manager</h1>
            <p class="text mb-3">Enter your families monthly budget and the rest will be worked out for you.</p>

            @{
                if (Model.Count() == 0)
                {
                    <form method="post">
                        <div class="mb-3">
                            <label for="budget" class="form-label">Monthly Budget</label>
                            <input type="number" class="form-control" id="budget" name="budget" step="any">
                            <button type="submit" class="btn btn-col mt-3 mb-5 white-text" asp-controller="Budget" asp-action="Create">Set Budget</button>
                        </div>
                    </form>
                }
                else
                {
                    <form method="post">
                        <input type="hidden" id="id" name="id" value="@id" />
                        <div class="mb-3">
                            <label for="budget" class="form-label">Monthly Budget</label>
                            <input type="number" class="form-control" id="budget" name="budget" step="any">
                            <button type="submit" class="btn btn-col mt-3 mb-5 white-text" asp-controller="Budget" asp-action="Update">Update Budget</button>
                        </div>
                    </form>
                }
            }

        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Current Budget</th>
                    <th scope="col">Total Expenses</th>
                    <th scope="col">Total Profit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Budget.Id</th>
                        <td>£@item.Budget.Budget</td>
                        <td>£@item.Expenses</td>
                        <td>£@item.Profit</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>






<script>
    setTimeout(function () {
        var successMessage = document.getElementById('successMessage');
        if (successMessage != null) {
            successMessage.remove();
        }
    }, 5000);</script>