@{
    ViewData["Title"] = "New Bill";
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-secondary mt-3 mb-5" asp-controller="Bills" asp-action="ViewAll">< Back</a>
            <h3 class="heading-text">Add a new Bill</h3>
            <form method="post" class="my-3">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="amount" name="amount" step="any">
                </div>
                <label for="billType" class="form-label">Type</label>

                <select class="form-select" id="billType" name="billType">
                    <option selected disabled>Bill Type:</option>
                    <option value="Gas">Gas</option>
                    <option value="Electric">Electric</option>
                    <option value="Internet">Internet</option>
                    <option value="Mortgage">Mortgage</option>
                    <option value="Rent">Rent</option>
                    <option value="Insurance">Insurance</option>
                    <option value="Subscription">Subscription</option>
                    <option value="Other">Other</option>
                </select>
                <div class="my-3">
                    <label for="dateDue" class="form-label">Date Due - Enter the day of the month the bill is due.</label>
                    <input type="number" class="form-control" id="dateDue" name="dateDue" min="1" max="31">
                </div>
                <button type="submit" class="btn btn-success mt-5">Create</button>
            </form>
        </div>
    </div>
</div>