@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E1E8EA;
}

.white-bg{
    background-color: white;
}

#navbar-bg {
    background-color: #4FA6B9;
}

.nav-icon {
    color: #34545B;
    height: 15vh;
}

.heading-text {
    font-family: Montserrat;
    font-weight: 700;
}

.subheading-text {
    font-family: Montserrat;
    font-weight: 600;
}

.text{
    font-family: Montserrat;
    font-weight: 500;
}

.white-text{
    color: #FFFFFF;
}

.card-img{
    width: 10vw;

}

.btn-col {
    background-color: #4FA6B9;
}

.homecards{
    height: 43vh;
}

footer {
    background-color: #6c757d;
}