@using Microsoft.AspNetCore.Identity
@inject UserManager<CustomUserModel> UserManager
@{
    ViewData["Title"] = "Home Page";

    CustomUserModel user = await UserManager.GetUserAsync(User);
    var role = await UserManager.GetRolesAsync(user);
}


<!--Index page - Links to other pages.-->
<div class="container mt-5">
    <div class="row white-bg py-4 ps-2">
        <h1 class="subheading-text">Good Morning @user.Fname</h1>
        <h4 class="text">Here is your daily report...</h4>
    </div>

    @if (role.Count == 0)
    {
        <!--Warning block that appears if the user does not have a role.-->
        <div class="row bg-red py-4 p-4 mt-5 border border-danger border-5">
            <h3 class="subheading-text mb-3 text-center">You Are Not Assigned To A Family - Go To The Family Settings To Create Or Join A Family!</h3>
            <a asp-controller="Home" asp-action="Settings" class="btn btn-danger w-100">Family Settings</a>
        </div>
    }




    <div class=" d-flex justify-content-center mt-5">
        <div class="row text-center">

            <div class="col mb-3">
                <div class="card mx-5 homecards" style="width: 18rem;">
                    <div class="row">
                        <div class="col-6">
                            <img src="~/images/settings.gif" alt="settings" class="card-img p-3 d-flex justify-content-center">
                        </div>
                        <div class="col-6">
                            <h5 class="card-title mt-4">Configure Family Settings</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text ">Connect your family accounts and manage your finances collaboratively with our family settings feature. Get started today!</p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Home" asp-action="Settings" class="btn btn-col white-text w-100">Family Settings</a>
                    </div>
                </div>

            </div>

            <div class="col mb-3">
                <div class="card mx-5 homecards" style="width: 18rem;">
                    <div class="row">
                        <div class="col-6">
                            <img src="~/images/credit-card.gif" alt="transactions" class="card-img p-3 d-flex justify-content-center">
                        </div>
                        <div class="col-6">
                            <h5 class="card-title mt-4">Transaction Manager</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text ">Effortlessly track and manage all transactions with our user-friendly transaction manager. Try it now!</p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Transaction" asp-action="ViewAll" class="btn btn-col white-text w-100">Transaction Manager</a>
                    </div>
                </div>


            </div>

            <div class="col mb-3">
                <div class="card mx-5 homecards" style="width: 18rem;">
                    <div class="row">
                        <div class="col-6">
                            <img src="~/images/receipt.gif" alt="bills" class="card-img p-3 d-flex justify-content-center">
                        </div>
                        <div class="col-6">
                            <h5 class="card-title mt-4">Bill Manager</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text ">Never miss a bill again with our handy bills manager. Stay on top of your finances today!</p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Bills" asp-action="ViewAll" class="btn btn-col white-text w-100">Bill Manager</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="chart my-5">
        <canvas id="barchart"></canvas>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
               integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
               crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

<script>
    var barCanvas = document.getElementById("barchart");

    var Physics = {
        label: 'Physics',
        data: [75, 89, 51, 99, 78],
        backgroundColor: 'rgb(255, 99, 132)',
        borderWidth: 0,
        lineTension: 0
    };
    var Chemistry = {
        label: 'Chemistry',
        data: [75, 89, 51, 99, 78],
        backgroundColor: 'rgb(255, 99, 132)',
        borderWidth: 0,
        lineTension: 0
    };
    var Biology = {
        label: 'Biology',
        data: [75, 89, 51, 99, 78],
        backgroundColor: 'rgb(255, 99, 132)',
        borderWidth: 0,
        lineTension: 0
    };
    var Maths = {
        label: 'Maths',
        data: [75, 89, 51, 99, 78],
        backgroundColor: 'rgb(255, 99, 132)',
        borderWidth: 0,
        lineTension: 0
    };

    var datasetvalues = {
        labels: ["John", "Mary", "Asha", "Emily", "Bonnie"],
        datasets: [Physics, Chemistry, Biology, Maths]
    }

    var chartOptions = {
        scales: {
            xAxes: [{
                barPercentage: 1,//Percent (0-1) of the available width each bar should
                categoryPercentage: 0.6,//Percent (0-1) of the available width each category



            }],
            yAxes: [{
                barPercentage: 1,
                categoryPercentage: 0.6,
                ticks: {
                    beginAtZero: true
                }
            }],
        }
    };



    var barChart = new Chart(barCanvas, {
        type: 'bar',
        data: datasetvalues,
        options: chartOptions
    });</script>