@using Microsoft.AspNetCore.Identity
@inject UserManager<CustomUserModel> UserManager
@{
    ViewData["Title"] = "Settings";
}
<div class="container my-5">
    <div class="row">
        <div id="sidebar" class="p-5">
            <h1 class="heading-text mb-0">Settings</h1>
            <p class="mb-3 pt-0 mt-0">@User.Identity?.Name</p>
            <div class="row">
                <h5 class="subheading-text pt-4">Account Information</h5>

            </div>
            <div class="row">
                <h5 class="subheading-text pt-4">Family Accounts & Information</h5>

            </div>
            <div class="row">
                <h5 class="subheading-text pt-4">Job & Salary Information</h5>

            </div>
            <div class="row">
                <h5 class="subheading-text pt-4">Accessibility Options</h5>

            </div>
        </div>
    </div>
</div>

