@using Microsoft.AspNetCore.Identity
@inject UserManager<CustomUserModel> UserManager
@{
    ViewData["Title"] = "Settings";
}
<div class="container my-5">
    <div class="row">
        <div id="sidebar" class="p-5">
            <h1 class="heading-text mb-0">Settings</h1>
            <p class="mb-3 pt-0 mt-0">@User.Identity?.Name</p>
            <h5 class="subheading-text pt-4">Account</h5>
            <h5 class="subheading-text pt-4">Family</h5>
            <h5 class="subheading-text pt-4">Accessibility</h5>
        </div>
    </div>
</div>

